<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/config :: configboot"></div>
    <title>Listagem</title>
</head>
<body>
<div class="container">

    <div th:replace="fragments/header :: cabecalho"></div>
    <div class="row">
        <div class="col-12">
            <h1>Listagem de professores</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form th:action="@{/professor/buscar}" method="post" name="buscar">
                <div class="input-group">

                    <input th:type="text" class="form-control" name="nome">
                    <button class="btn btn-primary" type="submit" value="buscar">Buscar</button>


                </div>
            </form>

        </div>
        <div class="col-6">
            <a th:href="@{/professor/novo}" class="btn btn-success" style="float: right">Cadastrar</a>
        </div>
    </div>
    <br>
    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <span th:text="${mensagem}"></span>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${professores.empty}">
            <td colspan="6">Sem Professores</td>
        </tr>
        <tr th:each="professor : ${professores}">
            <td><span th:text="${professor.id}"> Id </span></td>
            <td><span th:text="${professor.nome}"> Nome </span></td>
            <td><span th:text="${professor.email}"> Email </span></td>
            <td><span th:text="${professor.cpf}"> CPF </span></td>
            <td><span th:text="${professor.dataNascimento}"> Data de Nascimento </span></td>
            <td><a class="btn btn-outline-danger btn-sm"
                   th:href="@{/professor/excluir/{id}(id=${professor.id})}"
                   th:data-confirm-delete="|Você gostaria de apagar ${professor.nome}?|"
                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                Apagar
            </a>

                <a class="btn btn-outline-primary btn-sm"
                   th:href="@{/professor/alterar/{id}(id=${professor.id})}">Editar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: rodape"></div>
</body>
</html>